.orderNumber{
    color: gray;
}
.badge{
    margin:.3rem;
    padding: .6rem;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.types{
    margin-bottom: 1.4rem;
}